In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/rotten-tomatoes-best-musicals-of-all-time/critic_reviews.csv/critic_reviews.csv
/kaggle/input/rotten-tomatoes-best-musicals-of-all-time/movies.csv/movies.csv
/kaggle/input/rotten-tomatoes-best-musicals-of-all-time/user_reviews.csv/user_reviews.csv

In [2]:
import statsmodels.api as  sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()
from textblob import TextBlob

In [3]:
raw_data1 = pd.read_csv('/kaggle/input/rotten-tomatoes-best-musicals-of-all-time/user_reviews.csv/user_reviews.csv')
raw_data1.head()

,movieId,rating,quote,reviewId,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,score,creationDate,userDisplayName,userRealm,userId
0,52405035-b766-319c-be6b-193478c53d5a,4.0,[img]http://images.rottentomatoes.com/images/m...,NaN,False,False,False,False,4.0,2003-03-30,NaN,RT,900622495
1,8a673e2f-1a19-3e27-a872-96c10df60fb2,2.5,I saw this movie in the theater when it first ...,NaN,False,False,False,False,2.5,2003-04-05,NaN,RT,900667305
2,52405035-b766-319c-be6b-193478c53d5a,3.5,This was the inflight movie on the way home fr...,NaN,False,False,False,False,3.5,2003-05-07,NaN,RT,900667305
3,e99464c6-aa79-3dbd-ae45-dd111b355f7c,5.0,I so love this movie. I watched it almost ever...,NaN,False,False,False,False,5.0,2003-10-03,NaN,RT,900667305
4,ef98f8bd-8a7b-33fe-8867-04711d2b3843,3.5,[font=Comic Sans MS][size=4]10-Favorites[/size...,NaN,False,False,False,False,3.5,2003-10-30,NaN,RT,900622825

In [4]:
raw_data1.describe(include='all')

,movieId,rating,quote,reviewId,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,score,creationDate,userDisplayName,userRealm,userId
count,1287338,1.287338e+06,1287338,118943,1287338,1287338,1287338,1287338,1.287338e+06,1287338,18556,1287338,1287338
unique,100,NaN,1156704,118942,2,2,2,2,NaN,7173,10423,3,1015277
top,a23fa525-61d4-39cf-949f-d67bf0647574,NaN,not as good as the original,ab3c8db8-1ca2-4cc0-9c45-74e208205167,False,False,False,False,NaN,2007-06-06,steve d,RT,20f97638-9460-4b49-a86c-4f730c64ca60
freq,661196,NaN,5730,2,1277457,1283455,1287310,1286713,NaN,7396,78,1274557,82
mean,NaN,3.527467e+00,NaN,NaN,NaN,NaN,NaN,NaN,3.527467e+00,NaN,NaN,NaN,NaN
std,NaN,1.347716e+00,NaN,NaN,NaN,NaN,NaN,NaN,1.347716e+00,NaN,NaN,NaN,NaN
min,NaN,5.000000e-01,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e-01,NaN,NaN,NaN,NaN
25%,NaN,2.500000e+00,NaN,NaN,NaN,NaN,NaN,NaN,2.500000e+00,NaN,NaN,NaN,NaN
50%,NaN,4.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e+00,NaN,NaN,NaN,NaN
75%,NaN,5.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+00,NaN,NaN,NaN,NaN
max,NaN,5.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+00,NaN,NaN,NaN,NaN

In [5]:
data1 = raw_data1.drop(['userId','userRealm','userDisplayName','creationDate','reviewId','isSuperReviewer','hasProfanity'],axis=1)
data1.describe(include='all')

,movieId,rating,quote,isVerified,hasSpoilers,score
count,1287338,1.287338e+06,1287338,1287338,1287338,1.287338e+06
unique,100,NaN,1156704,2,2,NaN
top,a23fa525-61d4-39cf-949f-d67bf0647574,NaN,not as good as the original,False,False,NaN
freq,661196,NaN,5730,1277457,1287310,NaN
mean,NaN,3.527467e+00,NaN,NaN,NaN,3.527467e+00
std,NaN,1.347716e+00,NaN,NaN,NaN,1.347716e+00
min,NaN,5.000000e-01,NaN,NaN,NaN,5.000000e-01
25%,NaN,2.500000e+00,NaN,NaN,NaN,2.500000e+00
50%,NaN,4.000000e+00,NaN,NaN,NaN,4.000000e+00
75%,NaN,5.000000e+00,NaN,NaN,NaN,5.000000e+00
max,NaN,5.000000e+00,NaN,NaN,NaN,5.000000e+00

In [6]:
data1.isnull().sum()

movieId        0
rating         0
quote          0
isVerified     0
hasSpoilers    0
score          0
dtype: int64

In [7]:
data1.head()

,movieId,rating,quote,isVerified,hasSpoilers,score
0,52405035-b766-319c-be6b-193478c53d5a,4.0,[img]http://images.rottentomatoes.com/images/m...,False,False,4.0
1,8a673e2f-1a19-3e27-a872-96c10df60fb2,2.5,I saw this movie in the theater when it first ...,False,False,2.5
2,52405035-b766-319c-be6b-193478c53d5a,3.5,This was the inflight movie on the way home fr...,False,False,3.5
3,e99464c6-aa79-3dbd-ae45-dd111b355f7c,5.0,I so love this movie. I watched it almost ever...,False,False,5.0
4,ef98f8bd-8a7b-33fe-8867-04711d2b3843,3.5,[font=Comic Sans MS][size=4]10-Favorites[/size...,False,False,3.5

In [8]:
raw_data2 = pd.read_csv('/kaggle/input/rotten-tomatoes-best-musicals-of-all-time/movies.csv/movies.csv')
raw_data2.head()

,movieId,movieTitle,movieYear,movieURL,critic_score,audience_score
0,6da4d992-97ca-3acc-834c-37c1ad34872c,Singin' in the Rain,1952,https://www.rottentomatoes.com/m/singin_in_the...,100%,95%
1,56b1624a-1ceb-3598-8ee2-62236554094a,Top Hat,1935,https://www.rottentomatoes.com/m/top_hat,100%,90%
2,718dd15b-50ee-3090-84c7-13244b587b00,Meet Me in St. Louis,1944,https://www.rottentomatoes.com/m/meet_me_in_st...,100%,87%
3,80f30474-3ac3-36c7-a43b-648d1a627432,The Wizard of Oz,1939,https://www.rottentomatoes.com/m/the_wizard_of...,98%,89%
4,54438ade-99ad-3043-801b-8ac09597be3a,A Hard Day's Night,1964,https://www.rottentomatoes.com/m/beatles_a_har...,98%,89%

In [9]:
data2 = raw_data2.drop(['movieURL'],axis=1)
data2.describe(include='all')

,movieId,movieTitle,movieYear,critic_score,audience_score
count,100,100,100.000000,100,100
unique,100,99,NaN,26,37
top,6da4d992-97ca-3acc-834c-37c1ad34872c,West Side Story,NaN,92%,86%
freq,1,2,NaN,7,9
mean,NaN,NaN,1979.980000,NaN,NaN
std,NaN,NaN,27.397183,NaN,NaN
min,NaN,NaN,1927.000000,NaN,NaN
25%,NaN,NaN,1955.750000,NaN,NaN
50%,NaN,NaN,1979.000000,NaN,NaN
75%,NaN,NaN,2006.250000,NaN,NaN
max,NaN,NaN,2022.000000,NaN,NaN

In [10]:
data2.isnull().sum()

movieId           0
movieTitle        0
movieYear         0
critic_score      0
audience_score    0
dtype: int64

In [11]:
#Merging data1 and data2 on movie id
data = pd.merge(data1,data2,on = 'movieId')
data.head()

,movieId,rating,quote,isVerified,hasSpoilers,score,movieTitle,movieYear,critic_score,audience_score
0,52405035-b766-319c-be6b-193478c53d5a,4.0,[img]http://images.rottentomatoes.com/images/m...,False,False,4.0,Chicago,2002,86%,83%
1,8a673e2f-1a19-3e27-a872-96c10df60fb2,2.5,I saw this movie in the theater when it first ...,False,False,2.5,Moulin Rouge,2001,75%,89%
2,52405035-b766-319c-be6b-193478c53d5a,3.5,This was the inflight movie on the way home fr...,False,False,3.5,Chicago,2002,86%,83%
3,e99464c6-aa79-3dbd-ae45-dd111b355f7c,5.0,I so love this movie. I watched it almost ever...,False,False,5.0,Grease,1978,66%,87%
4,ef98f8bd-8a7b-33fe-8867-04711d2b3843,3.5,[font=Comic Sans MS][size=4]10-Favorites[/size...,False,False,3.5,Everyone Says I Love You,1996,77%,68%

In [12]:
#drop the movieid column as it is not needed in further analysis
data_n = data.drop(['movieId','isVerified','hasSpoilers','movieYear','critic_score','audience_score'],axis=1)
data_n.head()

,rating,quote,score,movieTitle
0,4.0,[img]http://images.rottentomatoes.com/images/m...,4.0,Chicago
1,2.5,I saw this movie in the theater when it first ...,2.5,Moulin Rouge
2,3.5,This was the inflight movie on the way home fr...,3.5,Chicago
3,5.0,I so love this movie. I watched it almost ever...,5.0,Grease
4,3.5,[font=Comic Sans MS][size=4]10-Favorites[/size...,3.5,Everyone Says I Love You

In [13]:
#The quote is turned to sentiment and polarity score using textblob module
data_s = pd.DataFrame(data_n,columns=['quote'])

def analyze_sentiment(quote):
    blob = TextBlob(quote)
    return blob.sentiment.polarity, blob.sentiment.subjectivity

data_s['polarity'],data_s['subjectivity'] = zip(*data_s['quote'].apply(analyze_sentiment))
data_s.head()

                                               quote  polarity  subjectivity
0  [img]http://images.rottentomatoes.com/images/m...  0.402866      0.561508
1  I saw this movie in the theater when it first ...  0.001786      0.390476
2  This was the inflight movie on the way home fr...  0.327885      0.575641
3  I so love this movie. I watched it almost ever...  0.625000      0.600000
4  [font=Comic Sans MS][size=4]10-Favorites[/size...  0.200000      0.691667

In [14]:
data_v = pd.merge(data_n,data_s,on = 'quote')
data_v.head()

,rating,quote,score,movieTitle,polarity,subjectivity
0,4.0,[img]http://images.rottentomatoes.com/images/m...,4.0,Chicago,0.402866,0.561508
1,2.5,I saw this movie in the theater when it first ...,2.5,Moulin Rouge,0.001786,0.390476
2,3.5,This was the inflight movie on the way home fr...,3.5,Chicago,0.327885,0.575641
3,5.0,I so love this movie. I watched it almost ever...,5.0,Grease,0.625000,0.600000
4,3.5,[font=Comic Sans MS][size=4]10-Favorites[/size...,3.5,Everyone Says I Love You,0.200000,0.691667

In [15]:
data_a = data_v.drop(['quote'],axis=1)
data_a.describe()

             rating         score      polarity  subjectivity
count  6.539798e+07  6.539798e+07  6.539798e+07  6.539798e+07
mean   2.522762e+00  2.522762e+00  5.049550e-01  6.465074e-01
std    9.566608e-01  9.566608e-01  8.682134e-02  8.505904e-02
min    5.000000e-01  5.000000e-01 -1.000000e+00  0.000000e+00
25%    2.000000e+00  2.000000e+00  4.750000e-01  6.250000e-01
50%    2.500000e+00  2.500000e+00  5.375000e-01  6.750000e-01
75%    3.000000e+00  3.000000e+00  5.375000e-01  6.750000e-01
max    5.000000e+00  5.000000e+00  1.000000e+00  1.000000e+00

In [16]:
#Sentiment of different movies based on user review
def classify_sentiment(polarity):
    if polarity>0:
        return 'positive'
    elif polarity<0:
        return 'negative'
    else:
        return 'neutral'

data_a['sentiment'] = data_a['polarity'].apply(classify_sentiment)
data_a

,rating,score,movieTitle,polarity,subjectivity,sentiment
0,4.0,4.0,Chicago,0.402866,0.561508,positive
1,2.5,2.5,Moulin Rouge,0.001786,0.390476,positive
2,3.5,3.5,Chicago,0.327885,0.575641,positive
3,5.0,5.0,Grease,0.625000,0.600000,positive
4,3.5,3.5,Everyone Says I Love You,0.200000,0.691667,positive
...,...,...,...,...,...,...
65397971,2.0,2.0,Mary Poppins Returns,0.165038,0.418108,positive
65397972,4.0,4.0,The Muppets,0.412317,0.525850,positive
65397973,5.0,5.0,La La Land,0.000000,0.000000,neutral
65397974,5.0,5.0,La La Land,0.197222,0.577778,positive
65397975,5.0,5.0,La La Land,0.000000,0.000000,neutral